@{
    ViewData["Title"] = "Phòng - Khoa";
}
@model DepartmentViewModel
<!-- ============================================================== -->
<!-- Bread crumb and right sidebar toggle -->
<!-- ============================================================== -->
<div class="page-breadcrumb bg-white">
    <div class="row align-items-center">
        <div class="col-lg-3 col-md-4 col-sm-4 col-xs-12">
            <h4 class="page-title">Quản lý Khoa</h4>
            
        </div>
        <div class="col-md-3 col-sm-4 col-xs-6 ms-auto">
                <div class="dropdown float-end">
                    <button class="btn btn-primary dropdown-toggle" type="button" id="dropdownMenuButton1" data-bs-toggle="dropdown" aria-expanded="false">
                        <i class="fas fa-align-left"></i> Công cụ
                    </button>
                    <ul class="dropdown-menu" aria-labelledby="dropdownMenuButton1">
                        <li>
                            <button type="button" class=" dropdown-item" data-bs-toggle="modal" data-bs-target="#createModal">
                                Thêm mới
                            </button>
                        </li>

                        <li><button id="deleteRange" onclick="deleteRange()" class="dropdown-item">Xóa đã chọn</button></li>
                    </ul>
                </div>
            </div>
    </div>
    <!-- /.col-lg-12 -->
</div>
<!-- ============================================================== -->
<!-- End Bread crumb and right sidebar toggle -->
<!-- ============================================================== -->
<!-- ============================================================== -->
<!-- Container fluid  -->
<!-- ============================================================== -->
<div class="container-fluid">
    <div class="row">
        <div class="col-md-12 col-lg-12 col-sm-12">
            <div class="white-box">
                <div class="d-md-flex mb-3">
                    <h3 class="box-title mb-0">Khoa</h3>

                </div>
                <div class="table-responsive">
                    <table class="table no-wrap">
                        <thead>
                            <tr>
                                <th class="border-top-0">#</th>
                                <th class="border-top-0">Mã Khoa</th>
                                <th class="border-top-0">Tên Khoa</th>
                                <th class="border-top-0">Ngày Tạo</th>
                                <th class="border-top-0">Chọn</th>
                            </tr>
                        </thead>
                        <tbody>
                            @{
                                int i = 0;
                                foreach (var item in Model.Departments)
                                {
                                    <tr>
                                        <td>@(i++)</td>
                                        <td class="txt-oflo">@item.Id</td>
                                        <td>@item.Name</td>
                                        <td class="txt-oflo">@item.CreatedDate</td>
                                        <td>
                                            <input class="form-check-input" type="checkbox" value="@item.Id" name="selectedDepartments" id="@item.Id">
                                            <button class="border-0" data-bs-toggle="modal" data-bs-target="#updateModal" onclick="openUpdateModal('@item.Id', '@item.Name')"><i class=" far fa-edit"></i></button>
                                        </td>
                                    </tr>
                                }
                            }
                        </tbody>
                    </table>
                </div>
            </div>
        </div>
    </div>
</div>


<!-- Modal -->
<div class="modal fade" id="updateModal" tabindex="-1" aria-labelledby="updateModalLabel" aria-hidden="true">
    <div class="modal-dialog">
        <div class="modal-content">
            <div class="modal-header">
                <h5 class="modal-title" id="updateModalLabel">Cập nhật Khoa</h5>
                <button type="button" class="btn-close" data-bs-dismiss="modal" aria-label="Close"></button>
            </div>
            <div class="modal-body">
                <form id="UpdateForm" method="post" asp-action="Update" asp-controller="Department">
                    <div class="mb-3">
                        <label for="Id" class="form-label">Mã Khoa <span class="text-danger" asp-validation-for="Id"></span></label>
                        <input asp-for="Id" type="text" class="form-control" name="Id" id="Id" readonly placeholder="CNTT">
                    </div>
                    <div class="mb-3">
                        <label for="Name" class="form-label">Tên Khoa <span class="text-danger" asp-validation-for="Name"></span></label>
                        <input asp-for="Name" type="text" class="form-control" name="Name" id="Name" placeholder="Công Nghệ Thông Tin">
                    </div>
                </form>
            </div>
            <div class="modal-footer">
                <button type="button" class="btn btn-secondary" data-bs-dismiss="modal">Đóng</button>
                <button type="button" onclick="UpdateSubmit()" class="btn btn-primary">Cập nhật</button>
            </div>
        </div>
    </div>
</div>
<!-- Modal -->
<div class="modal fade" id="createModal" tabindex="-1" aria-labelledby="createModalLabel" aria-hidden="true">
    <div class="modal-dialog">
        <div class="modal-content">
            <div class="modal-header">
                <h5 class="modal-title" id="createModalLabel">Thêm mới Khoa</h5>
                <button type="button" class="btn-close" data-bs-dismiss="modal" aria-label="Close"></button>
            </div>
            <div class="modal-body">
                <form id="CreateForm" method="post" asp-action="Create" asp-controller="Department">
                    <div class="mb-3">
                        <label for="Id" class="form-label">Mã Khoa <span class="text-danger" asp-validation-for="Id"></span></label>
                        <input asp-for="Id" type="text" class="form-control" name="Id" id="Id" placeholder="CNTT">
                    </div>
                    <div class="mb-3">
                        <label for="Name" class="form-label">Tên Khoa <span class="text-danger" asp-validation-for="Name"></span></label>
                        <input asp-for="Name" type="text" class="form-control" name="Name" id="Name" placeholder="Công Nghệ Thông Tin">
                    </div>
                </form>
            </div>
            <div class="modal-footer">
                <button type="button" class="btn btn-secondary" data-bs-dismiss="modal">Đóng</button>
                <button type="button" onclick="CreateSubmit()" class="btn btn-primary">Tạo mới</button>
            </div>
        </div>
    </div>
</div>
@section Scripts{
<partial name="_ValidationScriptsPartial" />
<script>
    function windowLoad(){}
    function CreateSubmit(){
        if($("#CreateForm #Id").valid() && $("#CreateForm #Name").valid()){
        document.getElementById("CreateForm").submit();}
    }
    function UpdateSubmit(){
        if($("#UpdateForm #Id").valid() && $("#UpdateForm #Name").valid()){
        document.getElementById("UpdateForm").submit();}
    }
    function openUpdateModal(id, name){
        document.getElementById("Id").value = id;
        document.getElementById("Name").value = name;
    }

    function deleteRange() {
        if (confirm("Xác nhận xóa!") == true) {
            var form = document.createElement("form");

            form.method = "POST";
            form.action = "/Department/Delete";

            document.getElementsByName("selectedDepartments").forEach(e=>{
                if(e.checked){
                    var element = document.createElement("input");
                element.name = "selectedDepartments";
                element.value = e.value;
                element.type = 'hidden';
                form.appendChild(element);
                }
            });

            document.body.appendChild(form);

            form.submit();
        }
    }
</script>
}
