@model AcceptanceViewModel
@{
    ViewData["Title"] = "Nghiệm thu";
}
<!-- ============================================================== -->
<!-- Bread crumb and right sidebar toggle -->
<!-- ============================================================== -->
<div class="page-breadcrumb bg-white">
    <div class="row align-items-center">
        <div class="col-lg-3 col-md-4 col-sm-4 col-xs-12">
            <h4 class="page-title">Nghiệm thu nghiên cứu</h4>
        </div>
        <div class="col-lg-9 col-sm-8 col-md-8 col-xs-12">
            <div class="d-md-flex">

                <div class="col-md-3 col-sm-4 col-xs-6 ms-auto">
                    <div class="dropdown float-end">
                        <button class="btn btn-primary dropdown-toggle" type="button" id="dropdownMenuButton1" data-bs-toggle="dropdown" aria-expanded="false">
                            <i class="fas fa-align-left"></i> Công cụ
                        </button>
                        <ul class="dropdown-menu" aria-labelledby="dropdownMenuButton1">
                            <li><button id="deleteRange" onclick="deleteRange()" class="dropdown-item">Xóa đã chọn</button></li>
                        </ul>
                    </div>
                    <div class="dropdown float-end me-1">
                        <button class="btn btn-primary dropdown-toggle" type="button" id="dropdownMenuButton1" data-bs-toggle="dropdown" aria-expanded="false">
                            <i class=" fas fa-"></i> Bộ lọc
                        </button>
                        <form id="Filter" name="Filter" method="get" action="/Acceptance" class="dropdown-menu p-4" aria-labelledby="dropdownMenuButton1">
                            <div class="mb-3">
                                <label for="Field" class="form-label">Lĩnh vực</label>
                                <select id="Field" name="Field" class="form-select" aria-label="Default select example" value="@Model.Field">
                                    <option value="">Tất cả</option>
                                    @foreach (var item in Model.Fields)
                                    {
                                        <option value="@item.Value">@item.Value</option>
                                    }
                                </select>
                            </div>
                            <div class="mb-3">
                                <label for="Acceptance" class="form-label">Trạng thái</label>
                                <select id="Acceptance" name="Acceptance" class="form-select" aria-label="Default select example">
                                    <option value="">Tất cả</option>
                                    <option value="Pass">Đạt yêu cầu</option>
                                    <option value="Fail">Chưa đạt</option>
                                </select>
                            </div>
                            <div class="mb-3">
                                <label for="Rate" class="form-label">Đánh giá</label>
                                <select id="Rate" name="Rate" class="form-select" aria-label="Default select example">
                                    <option value="">Tất cả</option>
                                    <option value="Excellent">Tốt</option>
                                    <option value="Good">Khá</option>
                                    <option value="Pass">Đạt yêu cầu</option>
                                    <option value="Fail">Chưa đạt</option>
                                </select>
                            </div>
                            <div class="mb-3">
                                <label for="Year" class="form-label">Năm</label>
                                <select id="Year" name="Year" class="form-select" aria-label="Default select example" value="@Model.Year">
                                    <option value="">Tất cả</option>
                                    @foreach (var item in Model.Years)
                                    {
                                        <option value="@item">@item</option>
                                    }
                                </select>
                            </div>
                            <div class="mb-3">
                                <label for="PageSize" class="form-label">Hiển thị</label>
                                <select id="PageSize" name="PageSize" class="form-select" aria-label="Default select example">
                                    <option value="10">10</option>
                                    <option value="20">20</option>
                                    <option value="50">50</option>
                                    <option value="100">100</option>
                                </select>
                            </div>
                            <button type="submit" class="btn btn-primary">Thực hiện</button>
                        </form>
                    </div>
                </div>
            </div>
        </div>
    </div>
    <!-- /.col-lg-12 -->
</div>
<!-- ============================================================== -->
<!-- End Bread crumb and right sidebar toggle -->
<!-- ============================================================== -->
<!-- ============================================================== -->
<!-- Container fluid  -->
<!-- ============================================================== -->
<div class="container-fluid">
    <div class="row">
        <div class="col-md-12 col-lg-12 col-sm-12">
            <div class="white-box">
                <div class="d-md-flex mb-3">
                    <h3 class="box-title mb-0">Đề tài</h3>

                </div>
                <div class="table-responsive">
                    <table class="table">
                        <thead>
                            <tr>
                                <th class="border-top-0">Nghiên cứu</th>
                                <th class="border-top-0">Chủ nhiệm</th>
                                <th class="border-top-0">Lĩnh vực</th>
                                <th class="border-top-0">Ngày bắt đầu</th>
                                <th class="border-top-0">Trạng thái</th>
                                <th class="border-top-0">Đánh giá</th>
                                <th class="border-top-0">Chức năng</th>
                            </tr>
                        </thead>
                        <tbody>
                            @{
                                foreach (var item in Model.Acceptances)
                                {
                                    <tr>
                                        <td class="txt-oflo">@item.ResearchId</td>
                                        <td class="txt-oflo">@item.Instructor</td>
                                        <td class="txt-oflo">@item.Field</td>
                                        <td class="txt-oflo">@item.DateStarted</td>
                                        <td class="txt-oflo @item.Acceptance.GetClass()">@item.Acceptance.GetName()</td>
                                        <td class="txt-oflo @item.Rate.GetClass()">@item.Rate.GetName()</td>
                                        <td>
                                            <input class="form-check-input" type="checkbox" value="@item.ResearchId" name="selectedResearches" id="@item.ResearchId">
                                            <button class="border-0" data-bs-toggle="modal" data-bs-target="#updateModal"
                                                onclick="openUpdateModal(
                                                                '@item.ResearchId','@item.Score',
                                                                '@item.Subject', '@item.Instructor', '@item.DateStarted', '@item.DateExpired'
                                                            )">
                                                <i class=" far fa-edit"></i>
                                            </button>
                                            <a href="Research/Detail?Id=@item.ResearchId"><i class="  fas fa-info-circle"></i></a>
                                        </td>
                                    </tr>
                                }
                            }
                        </tbody>
                    </table>
                    @Html.PagedListPager(
                    Model.Acceptances,
                    page => Url.Action("Index",new { Page = page, PageSize = Model.PageSize, Field = Model.Field, Acceptance = Model.Acceptance, Rate = Model.Rate, FindKeyword = Model.FindKeyword }),
                    new PagedListRenderOptions()
                    {
                    ActiveLiElementClass = "bg-info text-light px-1",
                    MaximumPageNumbersToDisplay = 5,
                    ContainerDivClasses = new List<string>{"product__pagination"},
                    LinkToPreviousPageFormat = "<i class=' fas fa-angle-left'></i>",
                    LinkToNextPageFormat = "<i class=' fas fa-angle-right'></i>",
                    LinkToFirstPageFormat = "<i class='fas fa-angle-double-left'></i>",
                    LinkToLastPageFormat = "<i class='fas fa-angle-double-right'></i>",
                    LiElementClasses = new List<string>{"me-3"},

                    })
                </div>
            </div>
        </div>
    </div>
</div>

<!-- Modal -->
<div class="modal fade" id="updateModal" tabindex="-1" aria-labelledby="updateModalLabel" aria-hidden="true">
    <div class="modal-dialog modal-xl">
        <div class="modal-content">
            <div class="modal-header">
                <h5 class="modal-title" id="updateModalLabel">Cập nhật Đề tài</h5>
                <button type="button" class="btn-close" data-bs-dismiss="modal" aria-label="Close"></button>
            </div>
            <div class="modal-body">
                <form id="UpdateForm" method="post" asp-action="Update" asp-controller="Acceptance" enctype="multipart/form-data">
                    <div class="mb-3">
                        <label for="ResearchId" class="form-label">Mã đề tài <span class="text-danger" asp-validation-for="ResearchId"></span></label>
                        <input asp-for="ResearchId" type="text" class="form-control" name="ResearchId" id="ResearchId" readonly placeholder="DT0123456789">
                        <div id="describeUpdate">
                        </div>
                    </div>
                    <div class="mb-3">
                        <label for="Score" class="form-label">Điểm số <span class="text-danger" asp-validation-for="Score"></span></label>
                        <input asp-for="Score" type="number" class="form-control" name="Score" id="Score">
                        <div id="describeUpdate">
                        </div>
                    </div>
                </form>
            </div>
            <div class="modal-footer">
                <button type="button" class="btn btn-secondary" data-bs-dismiss="modal">Đóng</button>
                <button type="button" onclick="UpdateSubmit()" class="btn btn-primary">Cập nhật</button>
            </div>
        </div>
    </div>
</div>
@section Scripts{
<partial name="_ValidationScriptsPartial" />
<script>
    function windowLoad(){
        $("#Filter #Acceptance").val("@Model.Acceptance");
        $("#Filter #Rate").val("@Model.Rate");
        $("#Filter #Field").val("@Model.Field");
        $("#Filter #PageSize").val("@Model.PageSize");
        $("#Filter #Year").val("@Model.Year");
    }
    function UpdateSubmit(){
        document.getElementById("UpdateForm").submit();
    }
    function openUpdateModal(ResearchId , Score, Subject, Instructor, DateStarted, DateExpired){
        $("#UpdateForm #ResearchId").val(ResearchId);
        $("#UpdateForm #Score").val(Score);
        var div = document.getElementById('describeUpdate');
        div.innerHTML = "Tiêu đề: "+Subject +"<br>Chủ nhiệm: "+Instructor+"<br>Ngày bắt đầu: "+DateStarted+"<br>Hết hạn: "+DateExpired;
        disableMemberUpdate();
    }
    function deleteRange() {
        if (confirm("Xác nhận xóa!") == true) {
            var form = document.createElement("form");

            form.method = "POST";
            form.action = "/Acceptance/Delete";

            document.getElementsByName("selectedResearches").forEach(e=>{
                if(e.checked){
                    var element = document.createElement("input");
                element.name = "selectedResearches";
                element.value = e.value;
                element.type = 'hidden';
                form.appendChild(element);
                }
            });

            document.body.appendChild(form);

            form.submit();
        }
    }
</script>
}
