@{
    ViewData["Title"] = "Giảng viên";
}
@model PersonalDetailViewModel
<!-- Bread crumb and right sidebar toggle -->
<!-- ============================================================== -->
<div class="page-breadcrumb bg-white">
    <div class="row align-items-center">
        <div class="col-lg-3 col-md-4 col-sm-4 col-xs-12">
            <h4 class="page-title">Thông tin giảng viên</h4>
        </div>
    </div>
    <!-- /.col-lg-12 -->
</div>
<!-- ============================================================== -->
<!-- End Bread crumb and right sidebar toggle -->
<!-- ============================================================== -->
<!-- ============================================================== -->
<!-- Container fluid  -->
<!-- ============================================================== -->
<div class="container-fluid">
    <!-- ============================================================== -->
    <!-- Start Page Content -->
    <!-- ============================================================== -->
    <!-- Row -->
    <div class="row">
        <!-- Column -->
        <div class="col-lg-4 col-xlg-3 col-md-12">
            <div class="white-box">
                <div class="user-bg">
                    <img width="100%" alt="user" src="@Model.Avatar">
                    <div class="overlay-box">
                        <div class="user-content">
                            <a href="javascript:void(0)">
                                <img src="@Model.Avatar"
                                     class="thumb-lg img-circle" alt="img">
                            </a>
                            <h4 class="text-white mt-2">@Model.Name</h4>
                            <h5 class="text-white mt-2">@Model.Email</h5>
                        </div>
                    </div>
                </div>
            </div>
        </div>
        <!-- Column -->
        <!-- Column -->
        <div class="col-lg-8 col-xlg-9 col-md-12">
            <div class="card">
                <div class="card-body">
                    <form class="form-horizontal form-material">
                        <h2>Giảng viên</h2>
                        <div class="form-group mb-4">
                            <label class="col-md-12 p-0">Mã cán bộ</label>
                            <div class="col-md-12 border-bottom p-0">
                                <input type="text" value="@Model.Id" disabled
                                       class="form-control p-0 border-0">
                            </div>
                        </div>
                        <div class="col-md-12 p-0 row">
                            <div class="form-group mb-4 col">
                                <label class="col-md-6 p-0">Họ Tên</label>
                                <div class="col-md-6 border-bottom p-0">
                                    <input type="text" value="@Model.Name" disabled
                                           class="form-control p-0 border-0">
                                </div>
                            </div>
                            <div class="form-group mb-4 col">
                                <label class="col-md-6 p-0">Phòng - Khoa</label>
                                <div class="col-md-6 border-bottom p-0">
                                    <input type="text" value="@Model.Department" disabled
                                           class="form-control p-0 border-0">
                                </div>
                            </div>
                        </div>
                        <div class="col-md-12 p-0 row">
                            <div class="form-group mb-4 col">
                                <label class="col-md-6 p-0">Giới tính</label>
                                <div class="col-md-6 border-bottom p-0">
                                    <input type="text" value="@Model.Gender" disabled
                                           class="form-control p-0 border-0">
                                </div>
                            </div>
                            <div class="form-group mb-4 col">
                                <label class="col-md-6 p-0">Ngày sinh</label>
                                <div class="col-md-6 border-bottom p-0">
                                    <input type="text" value="@Model.Birth" disabled
                                           class="form-control p-0 border-0">
                                </div>
                            </div>
                        </div>
                        <div class="col-md-12 p-0 row">
                            <div class="form-group mb-4 col">
                                <label class="col-md-6 p-0">Email</label>
                                <div class="col-md-6 border-bottom p-0">
                                    <input type="text" value="@Model.Email" disabled
                                           class="form-control p-0 border-0">
                                </div>
                            </div>
                            <div class="form-group mb-4 col">
                                <label class="col-md-6 p-0">Điện thoại</label>
                                <div class="col-md-6 border-bottom p-0">
                                    <input type="text" value="@Model.PhoneNumber" disabled
                                           class="form-control p-0 border-0">
                                </div>
                            </div>
                        </div>
                        <div class="col-md-12 p-0 row">
                            <div class="form-group mb-4 col">
                                <label class="col-md-6 p-0">Học vấn</label>
                                <div class="col-md-6 border-bottom p-0">
                                    <input type="text" value="@Model.Literacy" disabled
                                           class="form-control p-0 border-0">
                                </div>
                            </div>
                            <div class="form-group mb-4 col">
                                <label class="col-md-6 p-0">Chức vụ</label>
                                <div class="col-md-6 border-bottom p-0">
                                    <input type="text" value="@Model.Position" disabled
                                           class="form-control p-0 border-0">
                                </div>
                            </div>
                        </div>
                        <h2>Nghiên cứu</h2>
                        <div class="col-md-12 p-4 row border border-success">
                            @if (Model.Researches.Count <= 0)
                            {
                                <text>Không có</text>
                            }
                            else
                            {
                                <div class="table-responsive">
                                    <table class="table">
                                        <thead>
                                            <tr>
                                                <th class="border-top-0">Tiêu đề</th>
                                                <th class="border-top-0">Lĩnh vực</th>
                                                <th class="border-top-0">Trạng thái</th>
                                                <th class="border-top-0"></th>
                                            </tr>
                                        </thead>
                                        <tbody>
                                            @{
                                                foreach (var item in Model.Researches)
                                                {
                                                    <tr>
                                                        <td class="txt-oflo">@item.Subject</td>
                                                        <td class="txt-oflo">@item.Field</td>
                                                        <td class="txt-oflo @item.Status.GetClass()">@item.Status.GetName()</td>
                                                        <td>
                                                            <a href="/Research/Detail?Id=@item.Id"><i class="  fas fa-info-circle"></i></a>
                                                        </td>
                                                    </tr>
                                                }
                                            }
                                        </tbody>
                                    </table>
                                </div>
                            }
                        </div>
                        <div class="form-group mb-4 mt-4">
                            <div class="col-sm-12">
                                <a href="/Print/Personal?Id=@Model.Id" class="btn btn-success">Xuất File</a>
                            </div>
                        </div>
                    </form>
                </div>
            </div>
        </div>
        <!-- Column -->
    </div>
    <!-- Row -->
    <!-- ============================================================== -->
    <!-- End PAge Content -->
    <!-- ============================================================== -->
    <!-- ============================================================== -->
    <!-- Right sidebar -->
    <!-- ============================================================== -->
    <!-- .right-sidebar -->
    <!-- ============================================================== -->
    <!-- End Right sidebar -->
    <!-- ============================================================== -->
</div>
<!-- ============================================================== -->
<!-- End Container fluid  -->
<!-- ============================================================== -->