@{
    Layout = null;
}
@model PersonalDetailViewModel
<!DOCTYPE html>
<html lang="vi">

<head>
    <meta charset="utf-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <!-- Tell the browser to be responsive to screen width -->
    <meta name="viewport" content="width=device-width, initial-scale=1">
    <meta name="keywords"
          content="wrappixel, admin dashboard, html css dashboard, web dashboard, bootstrap 5 admin, bootstrap 5, css3 dashboard, bootstrap 5 dashboard, Ample lite admin bootstrap 5 dashboard, frontend, responsive bootstrap 5 admin template, Ample admin lite dashboard bootstrap 5 dashboard template">
    <meta name="description"
          content="Ample Admin Lite is powerful and clean admin dashboard template, inpired from Bootstrap Framework">
    <meta name="robots" content="noindex,nofollow">
    <title>Print - Nghiên cứu</title>
    <link rel="canonical" href="https://www.wrappixel.com/templates/ample-admin-lite/" />
    <!-- Favicon icon -->
    <link rel="icon" type="image/png" sizes="16x16" href="/plugins/images/favicon.png">
    <!-- Custom CSS -->
    <link href="/css/style.min.css" rel="stylesheet">
    <!-- HTML5 Shim and Respond.js IE8 support of HTML5 elements and media queries -->
    <!-- WARNING: Respond.js doesn't work if you view the page via file:// -->
    <!--[if lt IE 9]>
        <script src="https://oss.maxcdn.com/libs/html5shiv/3.7.0/html5shiv.js"></script>
        <script src="https://oss.maxcdn.com/libs/respond.js/1.4.2/respond.min.js"></script>
    <![endif]-->
</head>

<body>






    <div class="container-fluid">
        <!-- ============================================================== -->
        <!-- Start Page Content -->
        <!-- ============================================================== -->
        <!-- Row -->
        <div class="row">
            <div class="card">
                <div class="card-body">
                    <form class="form-horizontal form-material">
                        <h2>Giảng viên</h2>
                        <div class="form-group mb-4">
                            <label class="col-md-12 p-0">Mã cán bộ</label>
                            <div class="col-md-12 border-bottom p-0">
                                @Model.Id
                                       
                            </div>
                        </div>
                        <div class="col-md-12 p-0 row">
                            <div class="form-group mb-4 col">
                                <label class="col-md-6 p-0">Họ Tên</label>
                                <div class="col-md-6 border-bottom p-0">
                                    @Model.Name
                                           
                                </div>
                            </div>
                            <div class="form-group mb-4 col">
                                <label class="col-md-6 p-0">Phòng - Khoa</label>
                                <div class="col-md-6 border-bottom p-0">
                                    @Model.Department
                                           
                                </div>
                            </div>
                        </div>
                        <div class="col-md-12 p-0 row">
                            <div class="form-group mb-4 col">
                                <label class="col-md-6 p-0">Giới tính</label>
                                <div class="col-md-6 border-bottom p-0">
                                    @Model.Gender
                                           
                                </div>
                            </div>
                            <div class="form-group mb-4 col">
                                <label class="col-md-6 p-0">Ngày sinh</label>
                                <div class="col-md-6 border-bottom p-0">
                                    @Model.Birth
                                           
                                </div>
                            </div>
                        </div>
                        <div class="col-md-12 p-0 row">
                            <div class="form-group mb-4 col">
                                <label class="col-md-6 p-0">Email</label>
                                <div class="col-md-6 border-bottom p-0">
                                    @Model.Email
                                           
                                </div>
                            </div>
                            <div class="form-group mb-4 col">
                                <label class="col-md-6 p-0">Điện thoại</label>
                                <div class="col-md-6 border-bottom p-0">
                                    @Model.PhoneNumber
                                           
                                </div>
                            </div>
                        </div>
                        <div class="col-md-12 p-0 row">
                            <div class="form-group mb-4 col">
                                <label class="col-md-6 p-0">Học vấn</label>
                                <div class="col-md-6 border-bottom p-0">
                                    @Model.Literacy
                                           
                                </div>
                            </div>
                            <div class="form-group mb-4 col">
                                <label class="col-md-6 p-0">Chức vụ</label>
                                <div class="col-md-6 border-bottom p-0">
                                    @Model.Position
                                           
                                </div>
                            </div>
                        </div>
                        <h2>Nghiên cứu</h2>
                        <div class="col-md-12 p-4 row border border-success">
                            @if (Model.Researches.Count <= 0)
                            {
                                <text>Không có</text>
                            }
                            else
                            {
                                <div class="table-responsive">
                                    <table class="table">
                                        <thead>
                                            <tr>
                                                <th class="border-top-0">Tiêu đề</th>
                                                <th class="border-top-0">Lĩnh vực</th>
                                                <th class="border-top-0">Trạng thái</th>
                                            </tr>
                                        </thead>
                                        <tbody>
                                            @{
                                                foreach (var item in Model.Researches)
                                                {
                                                    <tr>
                                                        <td class="txt-oflo">@item.Subject</td>
                                                        <td class="txt-oflo">@item.Field</td>
                                                        <td class="txt-oflo @item.Status.GetClass()">@item.Status.GetName()</td>
                                                    </tr>
                                                }
                                            }
                                        </tbody>
                                    </table>
                                </div>
                            }
                        </div>
                    </form>
                </div>
            </div>
        </div>
        <!-- Row -->
        <!-- ============================================================== -->
        <!-- End PAge Content -->
        <!-- ============================================================== -->
        <!-- ============================================================== -->
        <!-- Right sidebar -->
        <!-- ============================================================== -->
        <!-- .right-sidebar -->
        <!-- ============================================================== -->
        <!-- End Right sidebar -->
        <!-- ============================================================== -->
    </div>






    <!-- All Jquery -->
    <!-- ============================================================== -->
    <script src="/plugins/bower_components/jquery/dist/jquery.min.js"></script>
    <!-- Bootstrap tether Core JavaScript -->
    <script src="/bootstrap/dist/js/bootstrap.bundle.min.js"></script>
    <script src="/js/app-style-switcher.js"></script>
    <script src="/plugins/bower_components/jquery-sparkline/jquery.sparkline.min.js"></script>
    <!--Wave Effects -->
    <script src="/js/waves.js"></script>
    <!--Menu sidebar -->
    <script src="/js/sidebarmenu.js"></script>
    <!--Custom JavaScript -->
    <script src="/js/custom.js"></script>
    <!--This page JavaScript -->
    <!--chartis chart-->
    <script src="/plugins/bower_components/chartist/dist/chartist.min.js"></script>
    <script src="/plugins/bower_components/chartist-plugin-tooltips/dist/chartist-plugin-tooltip.min.js"></script>
    <script src="/js/pages/dashboards/dashboard1.js"></script>
    <script>
        window.onload = function() {
            window.print();
        }
    </script>
</body>

</html>